.navbar-utama{
    padding: 0;
    height: 50px;
    align-items: center;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;    
    background-color: aqua;
    position: absolute;
    z-index: 100;
}
body{
    padding: 0;
    margin: 0;
}
.navbar-logo{
    color: red;
    margin-left: 30px;
}
.hero-section,img{
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;

}
