<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <!--container utama  -->
    <div class="container-utama">
        <!-- container atas -->
        <div class="container-atas">
            <img src="https://images.unsplash.com/photo-1570200020951-e21a58c2ef87?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8Z3JlZW4lMjBjaXR5fGVufDB8fDB8fHww"
                alt="">
        </div>

        <!-- container bawah -->
        <div>
            <h1>San Fracisco</h1>
            <p>Premium economy</p>

            <!-- div harga -->
            <div class="harga">
                <p>icon</p>
                <p>from $240</p>
                <p>icon</p>
                <p>SFO</p>
            </div>

            <!-- div buat button dan like -->
            <div>
                <Button>Search Flight</Button>
                <button>like</button>
            </div>
        </div>
    </div>
</body>

</html>